@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#all {
  background-color: #000000;  
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

input { 
  margin-bottom: 10px;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width:100%;
  height: auto;
}

label {
  color: white;
}


form {
 /* width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  margin: auto;
  */
}

#goButton {
  background-color: #000000;
  color: white;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  background-color: #000000;
  color: white;
}

#botao {
  margin-top: 10px;
}

#mediaPlaya {
  display: none;
}

p {
  color: white;
}